.Main
  %h1.Tarento タレントリスト
  %ul.Actor
    %li.Actor__list 
      = link_to "https://drive.google.com/file/d/1nnYRZ7m7M77-aiYWbv09M6DswayoIxD-/view?usp=sharing", class: "Contents__btn",target: "_blank"  do
        = image_tag '5D4_1292.jpg', alt: 'hoge', height: '250px', width: '200px', class: 'test'
    %li.Actor__list
      = link_to "https://drive.google.com/file/d/1pU0GDLFEEx_Oyx2vkf9FqwtA95qUO774/view?usp=sharing", class: "Contents__btn", target: "_blank" do
        = image_tag 'IMG_7148', alt: 'hoge', height: '250px', width: '200px', class: 'test'



  
