.Side
  最新ニュース
 
  %iframe.movie{ src:"https://www.youtube.com/embed/LtgddsC92LM", frameborder:"0", allow:"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allow: "fullscreen",width:"100%",height:"40%" }
  
   

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  %a.twitter-timeline{href:"https://twitter.com/garagar30971178?ref_src=twsrc%5Etfw",height:"100"}

  